<div class="imagede">
    <h3>Uploading Your Image</h3>
    <hr>
   
    <div> 
        <input type="file" (change)="onFileChanged($event)">
        <img [src]="imgURL" height="200" *ngIf="imgURL">
    </div>
    <br><br>
    <!--upload image-->
    <input type="button" (click)="onUpload()" value="upload" class="btn btn-info">
    <hr />
</div>



 <!--Registration Id-->
 <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Registration Id </span>
    </div><input type="text" class="form-control" [(ngModel)]="registrationId" readonly style="margin-right:80%" />
</div>
<div class="btnfinish">
    <button class="btn btn-info" (click)="saveAll()" type="submit">Finish</button>
</div>


<!--p>
Received Image:
{{ receivedImageData['pic'] | json}}
<img [src]="convertedImage" >
</p



<form [formGroup]="photoForm" (ngSubmit)="saveAll()">
 Registration Id
 <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Registration Id </span>
    </div><input type="text" class="form-control" formControlName="registrationId" [(ngModel)]="registrationId" readonly style="margin-right:80%" />
</div>
<div class="btnfinish">
    <button class="btn btn-info" type="submit">Finish</button>
</div>
</form>

-->