<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a routerLink="registerComponent" class="btn btn-outline-info">Registration</a>
    <!--a routerLink="registerList" class="btn btn-outline-info">Registration List</a-->
    <a routerLink="login" class="btn btn-outline-info">Login</a>
    
   
    <!--button class="btn btn-outline-danger" type="button" routerLink="logout">Logout</button-->
  </nav>
</div>

<h2 class="head">ENQUIRY MANAGEMENT</h2>



<router-outlet></router-outlet>
  
